#bg-black {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}
.dialog {
	color: #fff;
	font-size: 14px;
	height: 200px;
	left: 50%;
	margin-left: -120px;
	overflow: hidden;
	position: fixed;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	top: 100px;
	width: 240px;
	z-index: 101;
}
#dialog-title {
	padding: 5px 0;
}
#user-name {
	background: none;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 30px;
	margin: 25px auto 2px;
	outline: none;
	text-align: center;
	width: 80%;
}
#reg-msg {
	color: #ddd;
	font-size: 8px;
	height: 15px;
	line-height: 15px;
	margin: 0 auto;
	text-align: center;
	text-indent: 13px;
}
#name-confirm {
	background: none;
	border: 1px solid #888;
	border-radius: 2px;
	color: #888;
	height: 30px;	
	margin: 10px auto;
	outline: none;
	padding: 0 15px;
	line-height: 30px;
}
.final-scores {
    margin: 5px auto;
}
.final-scores tr:nth-cihld(1) {
    color: #ddd;
}
